body {
  background-color: #ececec;
}
.login-shadow{
  -webkit-box-shadow: 6px -2px 23px 5px rgba(122,117,122,0.3);
  -moz-box-shadow: 6px -2px 23px 5px rgba(122,117,122,0.68);
  box-shadow: 6px -2px 23px 5px rgba(122,117,122,0.3);
  width: 500px;
  border-radius: 10px;
  padding: 15px 20px;
  background-color: #fff;
}
.profile-box {
  width: 850px !important;
}
.profile-box {
  width: 1000px !important;
}
.login-page {
  height: 100vh;
  align-items: center;
}
table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.logout {
  float: right;
  padding-right: 15px;
}